* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

:root {
    --btn-background-color: rgba(199, 199, 199, 0.05);
    --orange: rgb(255, 105, 3);
    --orange-dark: rgba(255, 104, 3, 0.897);
    --orange-active: #ffb370;
    --gray-border: rgba(0, 0, 0, 0.15);
    --gray-text: #9b9b9b;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    position: relative;
    width: 100%;
    background-color: antiquewhite;
}
body._lock{
    overflow: hidden;
    
}
a {
    text-decoration: none;
    border: none;
}

form {
    display: block;
    margin-block-end: 0;
}

button {
    padding-inline: 0;
    border: none;
    background: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

span {
    color: #333;
}

li,
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 1000px;
}

.header {
    margin: 0 0 20px;
}

.header_container {
    background: #fff;
}

.header_wrapper {
    width: 100%;
    max-width: 1440px;
    min-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}


/* Header top */

.header__top {
    min-height: 20px;
    padding: 7px 0;
    background: rgb(255, 255, 255);
    font-size: 12px;
}

.header__column {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    max-width: 100%;
}

.header__column--middle {
    width: 50%;
    padding: 0 15px;
}

.header_layout--top {
    height: 100px
}

.header__column--right {
    display: flex;
    align-items: center;
    min-width: 420px;
    justify-content: space-between;
}

.header_layout-box {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header_logo {
    padding-right: 20px;
}

.logo_title {
    font-size: 36px;
    font-weight: 600;
    font-style: italic;
    text-shadow: -3px 0px 0px rgb(255, 105, 3);
    color: #000;
}

.search_input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 0 36px 0 12px;
    border: 1px solid #bbbbbb;
    border-radius: 4px 0 0 4px;
    border-right: none;
    color: #000;
    outline: none;
}

.preview-search-field {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 30px;
}

.search_icon {
    width: 15px;
}

.search_button {
    border: 1px solid;
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.basket__section {
    min-width: 131px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
}

.logo_link {
    display: flex;
    align-items: center;
}

.logo_link img {
    width: 80px;
    height: 80px;
    filter: drop-shadow(-2px 0px 0px var(--orange));
}

.basket__section img {
    width: 45px;
}

.basket__section_button {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.header__section--contacts {
    font-size: 20px;
}


/* Выпадающий список */

.dropbtn {
    position: relative;
    z-index: 100;
    color: black;
    border: none;
    cursor: pointer;
    background: none;
    font-weight: 600;
    padding: 4.5px 8px;
    width: 157px;
}

.btn {
    position: relative;
    background: var(--btn-background-color);
    border: 1px solid;
    border-radius: 2px;
}

.dropdown_list {
    position: relative;
    display: inline-block;
}

.dropdown_list::before {
    content: "";
    position: absolute;
    background: #ffffff;
    box-shadow: 0 0 8px #b9b6b6;
    z-index: 1;
    width: 100%;
    top: -5px;
    left: 0;
    height: 100px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.dropdown_content {
    display: none;
    position: absolute;
    min-width: 142px;
    z-index: 2;
    padding: 0 8px;
}

.dropdown-item {
    color: black;
}

.dropdown_list:hover .dropdown_content {
    display: block;
}

.dropdown_list:hover::before {
    opacity: 1;
    visibility: visible;
}

.dropdown_flex {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-style: oblique;
    line-height: 1.6;
}

.dropdown_lang-title {
    font-size: 16px;
    font-weight: bold;
}

.dropdown_lang-selector {
    display: flex;
    align-items: center;
    gap: 4px;
}

#selector {
    border: 1px solid #7e9bbd;
    border-radius: 3px;
    padding: 1px 2px 1px 2px;
    cursor: pointer;
    outline: none;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
}


/* Header bottom */

.header__bottom {
    min-height: 50px;
    background-color: #292932;
}

.header_section-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    grid-template-rows: 40px;
    align-items: center;
    justify-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-column-gap: 5px;
    padding: 5px 0;
}

.item_link:last-child {
    border-radius: 0 6px 6px 0;
}

.item_link:first-child {
    border-radius: 6px 0 0 6px;
}

.item_link {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--orange);
    color: white;
    transition: all .1s;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.item_link:active {
    color: var(--orange-active)
}

.item_link:hover {
    background-color: var(--orange-dark);
    transition: all .3s;
}

/* Main start */

.main {
    background-color: white;
}

.main_wrapper {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 1000px;
    padding: 0 20px;
}

.catalog_top__flex {
    display: flex;
    align-items: center;
}

.catalog_top {
    flex: 1 1 auto;
}

.catalog_top--right {
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
}

.main_h {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 20px;
}


/* Add Js */

.catalog_sort {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 20px;
    font-size: 16px;
}

.catalog_sort__list {
    display: flex;
    border: 1px solid #f5f2ea;
    border-radius: 2px;
}

.catalog_sort__item {
    background-color: rgba(199, 199, 199, 0.05);
    padding: 4px;
    border-radius: 2px;
    border-right: 1px solid rgba(199, 199, 199, 0.205);
    color: #333;
    font-size: 16px;
}

.catalog_sort__item:first-child {
    background: #eee;
    color: #000;
}

.catalog_sort__item:hover {
    color: var(--orange);
    cursor: pointer;
}

.catalog_sort__item:first-child:hover {
    background: #eee;
    color: #000;
    cursor: default;
}


/* End JS */

.catalog_middle {
    display: grid;
    grid-template-columns: 220px 1fr;
    margin: 0 0 40px 0 ;
}

.filter_flex {
    display: flex;
    flex-direction: column;
}

.filter_box:first-child {
    margin-bottom: 20px;
}

.filter_section_h {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
}

.price-placeholder {
    width: 33%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    padding: 0 6px;
    height: 26px;
    font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filter_section_inputs {
    display: flex;
}

.filter_section_inputs .btn {
    height: 26px;
    width: 26%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 6px;
    margin-left: 10px;
    cursor: pointer;
}

.filter-price-sep {
    flex-shrink: 0;
    width: 5%;
    height: 1px;
    margin: 11px 2px 0;
    background-color: #acacac;
}

.filter_section_price-slidebar {
    position: relative;
    width: 100%;
    height: 5px;
    background: #8080806b;
    margin: 10px 0 0 0;
    border-radius: 6px;
}

.slidebar-range {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 5px;
    border-radius: 4px;
}

.slidebar-handle {
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: white;
    border: black 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    top: -4px;
    margin-left: -6px;
}


/* checkbox start */

.label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label:hover span {
    color: var(--orange);
}


/* Hide the browser's default checkbox */

.label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #fff;
    border: 1px solid var(--gray-border);
    border-radius: 2px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
}


/* On mouse-over, add a grey background color */

.label:hover input[type="checkbox"]+.checkmark {
    background-color: #ffffff;
}


/* When the checkbox is checked, add a blue background */

.label input[type="checkbox"]:checked+.checkmark {
    background-color: #000000;
}


/* Style the checkmark/indicator */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.label input[type="checkbox"]:checked+.checkmark:after {
    display: block;
    left: 6px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


/* Catalog items */

.catalog_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    grid-auto-rows: 350px;
    gap: 12px;
    margin: 0 0 0 15px;
}

.catalog__item-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cdcdcd;
    height: 100%;
    justify-content: space-between;
}

.catalog__item-card-img {
    margin-bottom: 15px;
    padding: 10px 15px 0;
}

.catalog_item-picture {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.catalog__item-info {
    padding: 0 10px 5px;
}

.catalog__item-title {
    width: 220px;
    overflow: hidden;
    font-weight: normal;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 2.4em;
    margin: 0 0 5px;
}

.catalog__item-title-link {
    color: #333;
}

.catalog__item-title-link:hover {
    color: var(--orange);
    transition: 0.1s;
}

.catalog__item-price_button {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.catalog__item-price {
    font-size: 20px;
    font-weight: bold;
}

.catalog__item-buy-button {
    background: var(--orange);
    border-radius: 4px;
    padding: 2px 7px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    min-width: 75px;
}

.catalog__item-buy-button:hover {
    background-color: var(--orange-dark);
}

.catalog__item-buy-button:active {
    color: var(--orange-active);
    transition: 0.1s;
}

.catalog__item-flex {
    position: relative;
}

.catalog__item-flex::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    pointer-events: none;
    transition: border-color 0.3s;
}

.catalog__item-flex:hover::before {
    border-color: black;
}
/* ======= Footer ======= */
.footer__container{
    padding: 30px 0 30px 0;
    background-color: #f9f9f9;
}
.footer__wrapper{
    margin: 0 auto;
    max-width: 1440px;
    min-width: 1000px;
    padding: 0 20px;
}
.footer__columns{
    display: grid;
    grid-template-columns: repeat(3, minmax(230px, 1fr));
}
.footer_col{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    color: var(--gray-text);
}
.footer_logo{
    margin-bottom: 25px;
}
.footer_logo img{
    width: 60px;
    height: 60px;
}
.footer_logo .logo_title{
    font-size: 28px;
}
.footer_catalog-title{
    font-size: 16px;
    font-weight: bold;
    color: #f14b00;
    margin-bottom: 10px;
}
.footer_catalog-list{
    columns: auto 2;
    gap: 5px;
}
.footer_item_link{
    margin-bottom: 8px
}
.footer_catalog-item{
    color: var(--gray-text);
    margin-bottom: 8px;
}
.footer_icon {
    position: absolute;
    width: 18px;
    height: 18px;
    opacity: 0.6;
    translate: -24px;
   
}
.survey_form-button {
    color: var(--orange);
    font-size: 16px;
    background: #efefef;
    font-weight: bold;
    padding: 4px;
    border-radius: 4px;
}
.survey_form-button:hover {
    color: var(--orange-dark);
    background-color: var(--orange-active);
}

#surveyForm{
    overflow: auto;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 472px;
    max-height: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    transition: 0.5s;
    border-radius: 6px;
}
.surveyForm_bg{
    z-index: 1;
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: 0.3s;
    width: 100%;
    visibility: hidden;
    height: 100%;
}
.surveyForm_bg.active {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    visibility: visible;
    transition: 0.3s;
    opacity: 0.6;
}
.survey-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
    gap: 15px;
}
.survey-title{
    font-size: 24px;
    border-bottom: 2px solid green;
    padding-bottom: 5px;
    cursor: default;
    font-weight: bold;
}
.survey-main-container{
    min-width: 397.9px;
}
.form-element {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 0 11px;
}
.form-element:nth-child(1) label,
.form-element:nth-child(2) label{
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-weight: bold;
}
.form-element:last-child{
    margin: 0;
}
.form-element input[type='text'], input[type='email']{
    height: 35px;
    font-size: 20px;
    border-radius: 8px;
    padding-left: 8px;
    border: 1px solid black;
    transition: .3s;
}
.form-element input:focus{
    outline: none;
    transition: .3s;
    border: 1px solid green;
}
.form-question{
    font-size: 22px;
    padding-bottom: 2px;
    border-bottom: 2px solid green;
    font-weight: bold;
}
.form-rating{
    display: flex;
    justify-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    
}

.rating__item{
    font-size: 44px;
    cursor: pointer;
    transition: .2s;
    color: #dcdcdc;
}
.rating__item:hover,
.rating__item:hover ~ .rating__item{
    color: #bbbbbb;
}
.form-rating[data-total-value="1"] .rating__item:nth-child(n + 5),
.form-rating[data-total-value="2"] .rating__item:nth-child(n + 4),
.form-rating[data-total-value="3"] .rating__item:nth-child(n + 3),
.form-rating[data-total-value="4"] .rating__item:nth-child(n + 2),
.form-rating[data-total-value="5"] .rating__item:nth-child(n + 1){
    color: gold;
}
.form-submit{
    display: flex;
    justify-content: space-between;
}
.form-submit button{
    font-size: 16px;
    width: 120px;
    height: 25px;
    color: white;
    background: #1dbd25;
    border-radius: 2px;
    transition: .1s all;
    box-shadow: 0px 1px 1px var(--gray-text);
}
.form-submit button:first-child{
    background: var(--orange);
}
.form-submit button:last-child{
    background: #cc0101;
}
.form-submit button:first-child:active{
    background: var(--orange-active);
}
.form-submit button:hover{
    transition: .1s all;
    transform: translateY(-1px);
    box-shadow: 0px 2px var(--gray-text);
}
.form-submit button:active{
    background: #46d84d;
}
.form-submit button:last-child:active{
    background: #d14040;
}
.form-submit button:active{
    transition: .1s all;
    transform: translateY(1px);
    box-shadow: 0px 0.1px var(--gray-text);
}

.form-result textarea{
    resize: none;
}